<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Keystone" value="https://nuget.pkg.github.com/KaseyaQuoteManager/index.json" protocolVersion="3" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="Keystone">
      <package pattern="*" />
      <package pattern="Keystone.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
